@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");

body {
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin: 0;
  min-width: 18.75rem;
}

.AllCointainer{
  
  margin-right: 1% !important;
}






* {
  padding: 0;
  margin: 0;
}
table {
  margin-top: 1em;
  border-bottom: 0.0625rem solid #e0e0e0;
  border-right: 0.0625rem solid #e0e0e0;
  border-left: 0.0625rem solid #e0e0e0;
  border-top: 0.0625rem solid #e0e0e0;
  
  background: #fff;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  height: 1px;
  overflow: hidden;
  position: relative;
  table-layout: fixed;
}
.UserEnrollment {
  width: 10.0625rem;
  padding: 0.75rem 1rem;
  text-align: left;
  vertical-align: top;
  box-sizing: border-box;
  height: 100%;
  border-bottom: 0.0625rem solid #e0e0e0;
  border-right: 0.0625rem solid #e0e0e0;
  background: #f8f9fa;
}

.UserName{
  width: 10.0625rem;
  padding: 0.75rem 1rem;
  text-align: left;
  vertical-align: top;
  box-sizing: border-box;
  border-bottom: 0.0625rem solid #e0e0e0;
  border-right: 0.0625rem solid #e0e0e0;
  height: 100%;
  background: #f8f9fa;
}

.UserEmail {
  width: 10.0625rem;
  padding: 0.75rem 1rem;
  text-align: left;
  vertical-align: top;
  box-sizing: border-box;
  border-bottom: 0.0625rem solid #e0e0e0;
  border-right: 0.0625rem solid #e0e0e0;
  height: 100%;
  background: #f8f9fa;
}
.Today {
  width: 16.0625rem;
  padding: 0.75rem 1rem;
  text-align: left;
  vertical-align: top;
  box-sizing: border-box;
  border-bottom: 0.0625rem solid #e0e0e0;
  border-right: 0.0625rem solid #e0e0e0;
  height: 100%;
  background: #f8f9fa;
}
.AttendenceData {
  width: 10.0625rem;
  padding: 0.75rem 1rem;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
  border-bottom: 0.0625rem solid #e0e0e0;
  border-right: 0.0625rem solid #e0e0e0;
  height: 100%;
  background: #f8f9fa;
}

.UsernameData{
  text-align: left;
  margin-left: 15px;
  margin-top: 10px;
}
#AttendenceUsername{
  display: flex;
  position: relative;
  top: 9px;
  
  
}
td{
  border-bottom: 0.0625rem solid #e0e0e0;
  border-right: 0.0625rem solid #e0e0e0;
  text-align: left;
}


  th {
    transform: translate(0px, 0px);
    display: table-cell;
    vertical-align: inherit;
    font-weight: 500;
    text-align: -internal-center;
}

.attendence-status{
    color: rgb(3, 3, 3);
}
.TotalAttendence{
  text-align: center;
}
.AttendenceDataFill{
  padding-left:0 ;
}
/*below this,css of the attendence page */
td{
  padding-left: 16px;
}

.heading{
  margin: 1em 0 0 5px;
  font-weight: lighter;
  color: #747474;
}
.present{
  color: black;
  
  padding: 1px;
  border-radius: 5px;
}
.absent{
  color: black;
  
  padding: 1px;
  border-radius: 5px;
}
.holiday{
  color: black;

  padding: 1px;
  border-radius: 5px;
}
input[type='radio'] {
  width: 20px;
  height: 20px;
  border: 2px solid #747474;
  border-radius: 50%;
  outline: none;
  opacity: 0.6;
  /*transition: 0.3s;*/
}

input[type='radio']:hover:before {
  box-shadow: 0px 0px 0px 12px rgba(80, 80, 200, 0.2);
  border-radius: 50%;
  opacity: 1;
}

input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 10%; /* Keeping margin only 10% */
  padding: 10%; /* Increase the inner area for pushing the border out of the circle */
  border-radius: 50%;
  transition: 0.3s; /* Move your transition to here */
}
input[type='radio']{
  position: relative;
  top: 5px;
}
#Navigate{
  position: absolute;
  right: 120px;
  border-radius: 5px;
  transition-duration: 0.4s;
  color: rgb(8, 8, 8);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(187, 205, 194);
  border: 2px;
  border-color: black;
}
#Navigate:hover{
  background-color: #550f8a; /* Green */
  color: white;
}
#Attendence-submit {
  position: absolute;
  right: 0.7%;
  border-radius: 5px;
  transition-duration: 0.4s;
  color: rgb(8, 8, 8);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(187, 205, 194);
  border: 2px;
  border-color: black;

}
.AttendenceSubmitButton{
  position: relative;
  right: 21%;
}
#Attendence-submit:hover {
  background-color: #1e79eb; /* Green */
  color: white;
}
/* attendence page css ends here*/