@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");

body {
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin: 0;
  min-width: 18.75rem;
}








* {
  padding: 0;
  margin: 0;
}
.Attendencetable {
  margin-top: 1em;
  border-bottom: 0.0625rem solid #e0e0e0;
  border-right: 0.0625rem solid #e0e0e0;
  border-left: 0.0625rem solid #e0e0e0;
  border-top: 0.0625rem solid #e0e0e0;
  background: #fff;
  width: 62.5rem;
}
.TR-Background{
  background: #eff3f7;
  border-bottom: 0.0625rem solid #e0e0e0;
  border-right: 0.0625rem solid #e0e0e0;
}

.UserEnrollment {
  width: 12.0625rem;
  padding: 0.75rem 1rem;
  text-align: left;
  vertical-align: top;
  box-sizing: border-box;
  height: 100%;
  
}

.UserName{
  width: 12.0625rem;
  padding: 0.75rem 1rem;
  text-align: left;
  vertical-align: top;
  box-sizing: border-box;
 
  height: 100%;
 
}

.UserEmail {
  width: 11.0625rem;
  padding: 0.75rem 1rem;
  text-align: left;
  vertical-align: top;
  box-sizing: border-box;
  height: 100%;
  
}
.Today {
  width: 17.0625rem;
  padding: 0.75rem 1rem;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;

  height: 100%;
 
}
.AttendenceData {
  width: 10.0625rem;
  padding: 0.75rem 1rem;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
  height: 100%;
  background: #f8f9fa;
}

.UsernameData{
  text-align: left;
  margin-left: 15px;
  margin-top: 10px;
  
}
#AttendenceUsername{
  display: flex;
  position: relative;
  top: 9px;
  
  
}



  

.attendence-status{
    text-align: center;
}
.TotalAttendence{
  text-align: center;
}
.AttendenceDataFill{
  padding-left:0 ;
}
/*below this,css of the attendence page */
td{
  padding-left: 16px;
}

.heading{
  margin: 1em 0 0 5px;
  font-weight: lighter;
  color: #747474;
}
.present{
  color: black;
  
  padding: 1px;
  border-radius: 5px;
}
.absent{
  color: black;
  
  padding: 1px;
  border-radius: 5px;
}
.holiday{
  color: black;

  padding: 1px;
  border-radius: 5px;
}
#Navigate{
  position: absolute;
  right: 120px;
  border-radius: 5px;
  transition-duration: 0.4s;
  color: rgb(8, 8, 8);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(187, 205, 194);
  border: 2px;
  border-color: black;
}
#Navigate:hover{
  background-color: #550f8a; /* Green */
  color: white;
}
#Attendence-submit {
  
  border-radius: 5px;
  transition-duration: 0.4s;
  color: rgb(8, 8, 8);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(187, 205, 194);
  border: 2px;
  border-color: black;

}
.AttendenceSubmitButton{
  width: 20px;
  height: 10vh;
  padding: 5px;
  display: flex;
  flex-direction: row;
}
#Attendence-submit{
  flex: 1;
}
#Attendence-submit:hover {
  background-color: #1e79eb; /* Green */
  color: white;
}
/* attendence page css ends here*/
@media only screen and (max-width: 1000px) {
  .DisplayNone {
    display: none;
  }
  
.UserEnrollment {
  width: auto;
}


.UserName{
  width: auto;
  
}
 
  
}

@media only screen and (max-width: 800px) {
.Mobile{
  display: none;
}

.UserName{
  width: auto;
  
}
#AttendenceUsername{
  width: 0;
}


.Mobile-Display{
  width: auto;
}
}
@media only screen and (max-width: 600px) {
.Mobile{
  display: none;
}

.UserName{
  width: auto;
  
}
#AttendenceUsername{
  width: 0;
}


.Mobile-Display{
  width: auto;
}
.Buttons-Attendence{
  display: flex;
  flex-direction: row;
}
.Buttons-Attendence{
  width: 90px;
  display: inline;
}
.Today{
  display: none;
}
}