.AssignmentHeading{
  margin: 0 auto;
    width: calc(100% - 2*1.5rem);
      max-width: 62.5rem;
}
.Assignment--Main{
    margin: 0 auto;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2*1.5rem);
      max-width: 62.5rem;  
 box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}
.Assignment-Main{
  margin: 0 auto;
  margin-top: 16px;
  height: 7rem;
  align-items: center;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2*1.5rem);
      max-width: 62.5rem;  
 box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}
.button-1{
  margin: auto 16px;
  padding: 32px;
}
.Assignment-Buttons{
    margin-top: 16px;
}
#TextFeild{
        margin-top: 2px;
        background-color: #fcfcfc;
        border-radius: 4px 4px 0 0;
        padding: 10px 16px;
        padding-top: 22px;
        padding-top: 24px;
        width: 100%;
        position: relative;
}
.Announcement-Section{
  margin-bottom: 32px;
}
.Assignment-color{
  display: block;
  
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 2px;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  color: #1967d2;
  fill: #1967d2;
}
.Font-Color{
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  color: #1967d2;
  fill: #1967d2;
}